.debug header,
.debug article,
.debug footer {
  border: 1px dashed blue;
}

.debug section {
  border: 1px dashed red;
}

.debug article {
  border: 1px dashed green;
}

@media print {
  @page {
    size: 8.5in 11in;
    margin: 0;
  }
}
